body{
  /* background-color:rgb(228, 248, 255); */
  height: fit-content;
}

.blur-container {
  background-color: rgba(216, 216, 216, 0.262);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-card {
  transition: transform 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-pad {
  padding: 8px 18px;
  position: relative;
  pointer-events: auto;
  
}